<html lang="en">
    <head>
        <% include ../helpers/head %>
        <style> 
                body {
                  background-color: #ECF1F5;
                  text-align: center;
                }
        </style>
    </head>
    <body class="container">
        <header>
            <% include ../helpers/navbar %>
        </header>

        <main>
            <div class="page-header">
                <h1>About Me</h1>
                <h4 class="subheader">Allison Bieber</h4>
            </div>
            <div class="photo">

            </div>
            <div class="content">
                 <p> Text here</p>
                 <p> Text here</p>
            </div>
        </main>
    </body>
</html>

