<html land="en">
    <head>
        <% include ../helper/head %>

    </head>

    <body class="container">
            <header>
                    <% include ../helpers/navbar %>
                </header>
    
    
    </body>
</html>

