<html land="en">
    <head>
        <% include ../helper/head %>
    </head>
    <body class="container">
        <header>
            <% include ../helpers/navbar %>
        </header>

        <main>
            <div class="page-header">
                <h1>Text here</h1>
                <h4 class="subheader">Text here</h4>
            </div>
            <div class="content">
                 <p> Text here</p>
                 <p> Text here</p>
            </div>
        </main>
    </body>
</html>

