<html lang="en">
    <head>
        <% include ../helpers/head %>
        <style> 
                body {
                  background-color: #ECF1F5;
                  text-align: center;               
                }
                .content {
                    margin-top: 20px;
                }                
        </style>
    </head>
    <body class="container">
        <header>
            <% include ../helpers/navbar %>
        </header>

        <main>
            <div class="page-header">
                <h1>About Me</h1>
                <h4 class="subheader">Candidate for Master's in Science, Computer Science</h4>
                <h4 class="subheader">Graduating December 2020</h4>
            </div>
            <img src="images/Profile.png" class="img-circle" height="250">

            </div>
            <div class="content">
                 <p> I began my post-undergraduate career in the Environmental Science industry, but I have 
                     always had a passion for computers and technology and in 2018 decided to <br/>pursue a master's 
                     degree in computer science. I am currently in the computer science master's program at 
                     Northeastern University in San Jose, CA. </p>
                 <p> My experience in software development is primarily as a full-stack developer. 
                     I recently completed a 6 month co-op where I was able to work on and complete a <br/>
                     full-stack project using ReactJS, JavaScript, Spring Boot and PostgreSQL. In school 
                     my concentration of study is database management. In my free time I enjoy learning <br/>about the 
                     latest  technologies in cybersecurity and AI.</p>
                <p> Beyond computer science, I have a lot of personal hobbies involving the outdoors.
                     I enjoy being outside, whether it is hiking, backpacking or runnning. <br/>
                    I am currently training for my first marathon that will hopefully take place in Spring 2021.</p>
            </div>
        </main>
    </body>
</html>

