<html lang="en">
    <head>
            <% include ../helpers/head %>
    </head>
<header>
    <% include ../helpers/navbar %>
</header>
<style>
    .content {
        text-align: center;
    }
</style>
<main>
    <div class="page-header">
        <h1>Contact Information</h1>
    </div>
    <div class="content">
         <p> Phone: (650) 776-4554</p>
         <p> Email: <a href="mailto:allisoncbieber@gmail.com">allisoncbieber@gmail.com</a></p>
         <p> <a href="https://www.linkedin.com/in/allisonbieber/">LinkedIn</a></p>
    </div>
</main>
</html>
