<html lang="en">
<head>
    <% include ../helpers/head %>
    <style> 
    body {
      background-color: #ECF1F5;
      text-align: center;
    }
    .doge-image {
      margin-top: 20px;
    }
    </style>

</head>

<body>

<header>
  <% include ../helpers/navbar %>
</header>
  

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1 font = "Arial" size = 16>Welcome to my webpage!</h1>
  </div>

  <p id="demo">
    This is me testing out a lil html file!
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    Click Here! 
  </button>

  <div class="doge-image" id="doge-image"/>

</body>

</html>