<header lang="en">
    <% include ../helpers/navbar %>
</header>
<style>
    .content {
        text-align: center;
    }
</style>
<main>
    <div class="page-header">
        <h1>Projects</h1>
    </div>
    <div class="content">
         <p> Project</p>
    </div>
</main>
